@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url(./assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf)
    format("truetype");
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url(./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)
    format("truetype");
}

body {
  font-family: "Source Sans Pro Regular" !important;
  color: #170c3a !important;
  font-size: 20px !important;
  line-height: 26px !important;
  letter-spacing: 0.4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Source Sans Pro Semibold" !important;
  letter-spacing: 0.84px;
  font-size: 42px !important;
}

h2 {
  font-family: "Source Sans Pro Semibold" !important;
  letter-spacing: 0.72px;
  font-size: 36px !important;
}

h5 {
  font-family: "Source Sans Pro Semibold" !important;
  letter-spacing: 0.48px;
  font-size: 24px !important;
}

button {
  font-family: "Source Sans Pro Semibold" !important;
  letter-spacing: 0.36px;
}
